<span id='page-numbers'>
  {{#each model.pages as |page index|}}
    {{#link-to 'books.book.pages.page' page}}<span data-test-page-number>{{increment index}}</span>{{/link-to}}
  {{/each}}
</span>
<span>
  {{#paper-button data-test-add-page onClick=(action 'newPage' model.book model.pages.length)}}{{paper-icon 'add' size=70 accent=true}}{{/paper-button}}
</span>
<h1> {{model.book.pageCount}} </h1>
{{outlet}}
