{{#link-to 'books.new'}}
  {{#paper-button data-test-create-book-button raised=true}}
    {{paper-icon 'book'}}
    {{t 'book.new'}}
  {{/paper-button}}
{{/link-to}}
<br>
<br>

<div class='outletMargin'>
  {{outlet}}
</div>
